html{
	height:100%;
}
body {
	
  padding-top: 60px;
  height: 100%;
}

.wrapper{
	min-height:100%;
	position:relative;
}
.content{
	padding-bottom: 60px;
	
}
.footer{
	position: absolute;
	bottom: 15px;
	height:60px;
	
}

.dataTableImg {
	width:100px;
	 height:100px;
}
